#logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(49, 49, 49, 0.521);
    width: 60%;
    margin: 20px auto;
    border-radius: 20px;
    
}



.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-top: 0px;
  
}

.form input {
    background-color: pink;
    color: black;
    padding: 10px;
    font-style: italic;
    border-radius: 10px;
    width: 100%;
    margin-top: 70px;

}
.enviar{
    margin-bottom: 70px;
    margin-top: 50px;
}
