.form {
    display: flex;
    flex-direction: column;
    gap: 10px

}

.form input {
    background-color: pink;
    color: black;
    padding: 10px;
    font-style: italic;
    border-radius: 10px;
}