#registercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(49,49,49,0.521);
    width: 20%;
    height: 60%;
    padding: 20px;

    margin: 80px auto;
    border-radius: 20px;
}

.form{
    width: 200px;
    height: 10px;   
    border-style: none;
    
   
}
button{
    width: 10vw;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;   
    border-radius: 10px;
    background-color: rgb(248, 184, 177);
    border-style: none;
    color: #4c4b4b;
    font-size: 20px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    
}
button:hover{
    color: white;
    font-weight: 600
}
input{
    border-style: none;
    box-shadow: 5px 5px 5px grey;
    align-items: center;
    
}
.form input{
    margin: 5px 0;
}