#registercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: white;
}

.form{
    width: 200px;
    height: 30px;   
    border-style: none;
   
}
button{
    width: 20vw;
    height: 50px;
    margin-top: 200px;
    margin-bottom: 30px;   
    border-radius: 10px;
    background-color: rgb(248, 184, 177);
    border-style: none;
    color: #4c4b4b;
    font-size: 20px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    
}
button:hover{
    color: white;
    font-weight: 600
}
input{
    border-style: none;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    align-items: center;
}