.footer-spot {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: black;
}

.area{
    list-style: none;
    
    
}
li{
    list-style: none;
}
#Areas{
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-content: center;
    text-align: left;
    width: 700px;
    
}
#legal{
    display: flex;
    flex-direction: row;
    gap: 70px;
    position: absolute;
    bottom: 0;
    width: 700px;
    color: black;
}
p{
    text-align: center;
}