#header{
    background-color: aqua;
    color: black;
    display: flex;
    align-items: center;
    height: 52px;   

}



.boton {
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    
    
}
.cursor:hover{
    color: rgb(156, 152, 152)
}