
#root{
    background-image: url("../src/Images/BackBlanco.png");
    background-size: cover;
    min-height: 100vh;
}
div{
    color: rgba(255, 251, 251, 0.874);
}

#homecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}


#btnContainer {
    display: flex;
    gap: 20px
}

.linkbutton{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}
.parrafo{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 500px;
    font-weight:bold;
}