

body {
  background-image: url("../src/Images/BACKGROUND.png");
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Fija la imagen en el viewport */
  margin: 0;
  margin-top: -25px;
}
